<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <title>Document</title>
</head>

<body>
    <nav>
        <img src="{{ url_for('static', filename='images/bike.png') }}" alt="Logo" class="logo">
        <form action="/logout">
            <button class="logout" type="submit">
                Logout
            </button>
        </form>
    </nav>
    <div class="side-nav-bar">
        <div class="profile">
            <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Logo" class="profile-image">
            <p class="text">
                Name
            </p>
            <p class="text">
                Email
            </p>
        </div>
        <div class="options">
            <a href="{{ url_for('bikesadmin') }}" id="bike">Bike</a>
            <a href="{{ url_for('vbranch') }}" id="add-branch">Branch</a>
            <a href="{{ url_for('billing') }}" id="billing">Billing</a>
        </div>
    </div>
    <div class="main-content">
        <h1>Add Branch Details</h1>
        <div class="container">
            
            <form action='/addbranch' form id="branch-form" method='POST'>
                <label for="branch-name">Branch Name:</label>
                <input type="text" id="branchname" name="branchname" required>
                <label>Branch Manager:</label>
                <input type="text" name="branchmanager" required>

                <label for="branch-address">Branch Location:</label>
                <input type="text" id="branchlocation" name="branchlocation">

                <label for="branch-phone">Branch Phone:</label>
                <input type="text" id="branchphone" name="branchphone">
                <label>Stock:</label>
                <input type="text" name="stock" required>

                <input type="submit" value="Add Branch">
            </form>
        </div>
    </div>
    <script>
        document.getElementById("add-branch").style.backgroundColor = "black"
        document.getElementById("add-branch").style.color = "white"
    </script>
</body>

</html>