<html>

<head>
	<title>BIKE SHOW ROOM</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
</head>

<body>
	<nav>
		<img src="{{ url_for('static', filename='images/bike.png') }}" alt="Logo" class="logo">
		<form action="/logout">
            <button class="logout" type="submit">
                Logout
            </button>
        </form>
	</nav>
	<div class="side-nav-bar">
		<div class="profile">
			<img src="{{ url_for('static', filename='images/profile.png') }}" alt="Logo" class="profile-image">
			<p class="text">
				Name
			</p>
			<p class="text">
				Email
			</p>
		</div>
		<div class="options">
			<a href="{{ url_for('bikesadmin') }}" id="bike">Bike</a>
			<a href="{{ url_for('vbranch') }}" id="add-branch">Branch</a>
			<a href="{{ url_for('billing') }}" id="billing">Billing</a>

		</div>
	</div>
	<div class="main-content">
		<h1>Enter Bike Details</h1>
		<form action="/addbikedetails" method='POST'>
			<label for="branch-name">Brand:</label>
			<input type="text" id="branchname" name="brand" required>
			<label>Model Name:</label>
			<input type="text" name="model" required>
			<label for="branch-address">Image</label>
			<input type="text" id="branchlocation" name="image">
			<label for="branch-phone">price</label>
			<input type="text" id="branchphone" name="price">
			<label>Mileage</label>
			<input type="text" name="mileage" required>
			<label>Engine Capacity</label>
			<input type="text" name="ec" required>
			<label>Fuel tank capacity</label>
			<input type="text" name="ftc" required>
			<label>Gears</label>
			<input type="text" name="gears">
			<label>Fuel Type</label>
			<input type="text" name="ft" required>
			<label>Brake</label>
			<input type="text" name="brake" required>
			<label>Maximum Torque</label>
			<input type="text" name="mt" required>
			<label>Mamimum power</label>
			<input type="text" name="mp" required>
			<input type="submit" value="Add Bike">
		</form>
	</div>
	<script>
		document.getElementById("bike").style.backgroundColor = "black"
		document.getElementById("bike").style.color = "white"
	</script>
</body>

</html>