<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <title>Document</title>
</head>

<body>
    <nav>
        <img src="{{ url_for('static', filename='images/bike.png') }}" alt="Logo" class="logo">
        <button class="add-button" id="add-button" onclick="addBranch()">&plus; ADD A BRANCH</button>
        <form action="/logout">
            <button class="logout" type="submit">
                Logout
            </button>
        </form>
    </nav>
    <div class="side-nav-bar">
        <div class="profile">
            <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Logo" class="profile-image">
            <p class="text">
                Name
            </p>
            <p class="text">
                Email
            </p>
        </div>
        <div class="options">
            <a href="{{ url_for('bikesadmin') }}" id="add-bike">Bike</a>
            <a href="{{ url_for('vbranch') }}" id="add-branch">Branch</a>
            <a href="{{ url_for('billing') }}" id="billing">Billing</a>

        </div>
    </div>
    <div class="main-content">
        <div class="branch">
            {% for branch in data %}
            <div class="bike-card" style="background-color: rgb(142, 220, 163);">
                <p class="bike-details">
                    BRANCH NAME: {{ branch[1] }}
                </p>
                <p class="bike-details">
                    MANAGER: {{ branch[2] }}
                </p>
                <p class="bike-details">
                    STOCK: {{ branch[3] }}
                </p>
                <input type="submit" value="Edit" class="edit" onclick="editBranch(event)">
                <input type="submit" value="Delete" class="delete" onclick="deleteBranch(event)">
                <form action="/viewbranchbike" method="POST">
                    <input type="text" value="{{ branch[0] }}" name="bid" style="display: none;">
                    <input type="submit" value="View bikes available" class="view">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.getElementById("add-branch").style.backgroundColor = "black"
        document.getElementById("add-branch").style.color = "white"
    </script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>